<div class="bodyContainer">

{{!-- show user added habits --}}
{{#if habits}}
{{#each habits as |habit|}}
<div class="d-inline-flex mb-3 mr-3 habitContainer">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">♦ {{habit_name}}</h3>
      <p class="card-text">⟹ {{habit_description}}</p>
      <p class="card-text">Finish by: {{handlebarsDate scheduled_date}}</p>
    <button id="delete-button" type="button btn-danger" class="btn btn-danger" data-habit-id="{{id}}">Delete</button>
    </div>
  </div>
</div>
  {{/each}}
  {{else}}
  <div class="d-inline-flex mb-3 mr-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">No habit added yet!</h3>
      </div>
    </div>
  </div>
  {{/if}}
</div>
{{!-- container for adding habit --}}
<div class="container container-login">
  <form class="loginForm">
   <div class="mb-3 row">
    <label for="habitname" class="col-sm-12 col-md-3 col-lg-6 form-label">Habit name:</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="habitNameInput" placeholder="">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-12 col-md-3 col-lg-6 form-label">Description:</label>
    <div class="col-sm-12">
      <textarea class="form-control" id="habitDesInput" rows="3"></textarea>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-12 col-md-3 col-lg-6 col-form-label">Finish by:</label>
      <select id="day-select" name="day-select">
          {{!-- where day picker will appear --}}
      </select>
  </div>
    <button id="habitSubmitBtn" class="btn btn-primary btn-login">Add habit</button>
  </form>
</div>

{{!-- container for pet --}}
<div class="petContainer container">
  {{#if pet}}
  <div class="d-flex justify-content-center">
    <div class="d-flex align-items-center flex-column">
      <h2>{{pet.pet_name}}</h2>
      <img src="{{pet.state.state_image}}" alt="{{pet.pet_name}}" id="activePet">
      <p>Experience: {{pet.pet_health}}</p>
      <p>Level 1: 0-4 exp</p>
      <p>Level 2: 5-9 exp</p>
      <p>Level 3: 10-14 exp</p>
      <p>Level 4: 15-20+ exp</p>
    </div>
  </div>
  {{else}}
  <form class="petForm">
    <div class="row mb-3">
      <div class="col-sm-12">
      <label for="petName">Pet name:</label>
        <input type="text" class="form-control" id="petNameInput" placeholder="">
      </div>
      <div class="col-sm-12" id="petCheckBox">
        <label for="petType">Pet type:</label>
        <div class='petSelection'>
          <img src="../images/pets/orangeState1.gif" id="orangePetImg" alt="orange pet" class="unselectedImg petformImg" data-type="orange">
          <img src="../images/pets/greenState1.gif" id="greenPetImg" alt="green pet" class="unselectedImg petformImg" data-type="green">
        </div>
      </div>
    </div>

    <button id="addPet-button" class="btn btn-primary btn-login">Add Pet</button>
  </form>
  {{/if}}
</div>


<script type="module" src="/js/dashboard.js"></script>
